.news-rotator
	border 1px solid #CCC
	padding 20px
	background #fff
	border-radius 5px
.icon
	background #c52d16
	border-radius 50px
	display block
	height 70px
	width 70px
	position absolute
	margin-top -55px
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color #fff
	font-size 0.9em
	text-align center
.ico-pen::before
	content ""
	background url(../img/pen.png)
	background-size cover
	display block
	height 25px
	width 25px
	margin 0 auto
	margin-top 15px


.ico-news::before
	content ""
	background url(../img/newspaper.png)
	background-size cover
	display block
	height 25px
	width 25px
	margin 0 auto
	margin-top 15px


.ico-apoio::before
	content ""
	background url(../img/bullhorn.png)
	background-size cover
	display block
	height 25px
	width 25px
	margin 0 auto
	margin-top 15px


.ico-video::before
	content ""
	background url(../img/play.png)
	background-size cover
	display block
	height 25px
	width 25px
	margin 0 auto
	margin-top 15px

.apoio-side
	margin-bottom 25px
	.top
		margin-top 5px
	.img-apoio
		display block 
		height 110px 
		overflow hidden 
		max-width 90%
		border-radius 0 !important
		margin0 auto
	.enlace
		text-decoration none
		font-size 0.9em
		text-transformation uppercase

.ico-artigos::before
	content ""
	background url(../img/quill.png)
	background-size cover
	display block
	height 25px
	width 25px
	margin 0 auto
	margin-top 15px
.news-image
	border-radius 600px
	border 5px solid #d1d3d4

.news-desc
	font-size 0.8em
