@import "../fonts/helvetica/helvetica.css"
body
	font-family "Arial"
	background url("../img/bg.png") #f4f4f4
.content
	margin-top 50px
	margin-bottom 20px
	position relative
@import "header.styl"
@import "home.styl"
@import "bio.styl"
@import "footer.styl"