#coin-slider{
	overflow: hidden;
	background: url(../images/loader.gif) 50% 50% no-repeat;
	width: 955px;
	height: 255px;
	margin: 0 auto;
	position: relative;
}
#coin-slider img{display:none;}
#coin-slider img.first{display:block;}
.coin-slider{
	position:relative;
	margin:0px auto;
	width:955px;
	overflow:hidden;
	height:255px;
}


.coin-slider a{
	text-decoration:none;
	display:inline-block;
	outline:none;
	border:none;
}
.controls {
	height:161px;
	width:955px;
	position:absolute;
	background:url(../images/bg-pagination.png) 0 0 repeat-x;
	border-top:1px solid #fff;
	top:0;
	bottom:0px;
	left:0px;
	z-index:20;
}
.cs-buttons{
	font-size:0px;
	line-height:0;
	position:absolute;
	top:19px;
	right:10px;
	z-index:22;
}

.cs-buttons a{
	margin-right:10px;
	height:8px;
	width:8px;
	background:#696969;
	display:inline-block;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.cs-buttons a:hover, .cs-buttons a.cs-active{background:#191919}
.cs-prev, .cs-next{
	display:none;
}

#coin-slider .banner {
    font-size: 12px;
    height: 100%;
    left: -788px;
    line-height: 18px;
	color:#868788;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 788px;
    z-index: 19;
}

/*.titles {
	color: #191919;
	font-size:32px;
	line-height:1.2em;
	font-family: 'Maven Pro', sans-serif;
	font-weight:400;
}*/
#coin-slider .banner:first-child {
    z-index: 20;
}
#coin-slider .banner strong {
    display: block;
    font-weight: normal;
    overflow: hidden;
    position: absolute;
    
}
#coin-slider .banner strong:first-child + strong {
    font-weight:normal;
	z-index: 21;
}
